<div id="login-page" class="container page" style="display: none;">
    <div class="header">
        <h1>Login</h1>
    </div>
    <form onsubmit="event.preventDefault(); login();">
        <div class="form-section">
            <label for="login-email">Email:</label>
            <input type="email" id="login-email" name="email" class="form-control">
        </div>
        <div class="form-section">
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <div class="footer">
        <p>&copy; 2024 Sridevi Company</p>
    </div>
</div>
